<h1>Today's Pairs are:</h1>

<% @users.where(admin: false).each do |user| %>

<p> Username: <%= user.full_name %></p>
<p> Pair Id: <%= user.pair_id %></p>
<% end %>

<%= link_to "Generate New Matches", new_pair_path, class: "btn btn-large btn-primary" %>
