<h1>This will be the pair index</h1>
<h3>Pairs today</h3>

<h3>All pairs so far:</h3>
<% @pairs.each do |pair| %>
  <p><%= pair.lonely_students %></p>
  <p><%=pair.student1%>, <%=pair.student2%></p>
  <p>***********</p>
<%end%>
