<ul id = "newpairs">
<li class = "pair"> <%= @pair.create_pairs %> </li>
</ul>


<%# @users.where(admin: false).each do |user| %>

<p> Username: <%#= user.full_name %></p>
<p> Pair Id: <%#= user.pair_id %></p>
<%# end %>

<%#= link_to "Back", pairs_path, class: "btn btn-large btn-primary" %>
<script>

alert("hello")
setInterval(function() { alert("foo"); },, 5000);

setInterval(function() { location.reload(); }, 5000);

</script>
