<%= @pair.create_pairs %>
<%# @users.where(admin: false).each do |user| %>

<p> Username: <%#= user.full_name %></p>
<p> Pair Id: <%#= user.pair_id %></p>
<%# end %>

<%#= link_to "Back", pairs_path, class: "btn btn-large btn-primary" %>
