
  <h1><%= @user.full_name %></h1>

<% if @user.admin? %>
<h2>This user is an admin.</h2>
<% else %>
<h2>This user is not an admin.</h2>
<% end %>

  <%= link_to "Change Admin Role", edit_user_path, class: "btn btn-large btn-default" %>
